<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"/>
    <title>Update Book</title>
</head>
<body>
    <h1>Update Book</h1>
    <form method="post" action="/update/<%= book.id %>">
        <lable for="title">Title:</lable>
        <input type="'text" id="title" name="title" value="<%= book.title%>">
        <br>
        <lable for="author">Author:</lable>
        <input type="'text" id="author" name="author" value="<%= book.author%>">
        <br>
        <input type="submit" value="update">
    </form>
    <a href="/book/<%= book.id %>">View</a>
    <a href="/delete/<%= book.id %>">Delete</a>
    <a href="/">Back to List</a>
    
</body>
</html>